# Install important dependencies

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib as mtl
import math
import yfinance as yf



import pandas_ta as pa

# Data

Download weekly data for S&P500 from the beginning to september 30th 2024  as *pd.DataFrame* from yahoo finance using yfinance API.

In [68]:
# Download historical data for Apple (AAPL) over the last 5 years
from datetime import datetime

sp500 = yf.Ticker("^SPX") # create a ticker symbol
date_format = '%Y-%m-%d'
end_date =  datetime.strptime("2024-09-30", date_format)
data = sp500.history(start ="1900-01-01" , end = end_date, interval = "1d")

In [69]:
data

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1927-12-30 00:00:00-05:00,17.660000,17.660000,17.660000,17.660000,0,0.0,0.0
1928-01-03 00:00:00-05:00,17.760000,17.760000,17.760000,17.760000,0,0.0,0.0
1928-01-04 00:00:00-05:00,17.719999,17.719999,17.719999,17.719999,0,0.0,0.0
1928-01-05 00:00:00-05:00,17.549999,17.549999,17.549999,17.549999,0,0.0,0.0
1928-01-06 00:00:00-05:00,17.660000,17.660000,17.660000,17.660000,0,0.0,0.0
...,...,...,...,...,...,...,...
2024-09-23 00:00:00-04:00,5711.899902,5725.359863,5704.220215,5718.569824,3529550000,0.0,0.0
2024-09-24 00:00:00-04:00,5727.660156,5735.319824,5698.990234,5732.930176,3872710000,0.0,0.0
2024-09-25 00:00:00-04:00,5733.649902,5741.029785,5712.060059,5722.259766,3624910000,0.0,0.0
2024-09-26 00:00:00-04:00,5762.220215,5767.370117,5721.009766,5745.370117,4391180000,0.0,0.0
2024-09-27 00:00:00-04:00,5755.359863,5763.779785,5727.339844,5738.169922,3898530000,0.0,0.0

In [70]:
data.isna().sum()

Open            0
High            0
Low             0
Close           0
Volume          0
Dividends       0
Stock Splits    0
dtype: int64

# Technical indicators

drop every row where volume is 0

In [74]:
RSI = pa.rsi(data["Close"], length=14)
data["RSI"]=RSI
data["RSI"].isna().sum()

14

In [75]:
mask = data["RSI"].isna()
data.loc[mask]

,Open,High,Low,Close,Volume,Dividends,Stock Splits,RSI
Date,,,,,,,,
1927-12-30 00:00:00-05:00,17.660000,17.660000,17.660000,17.660000,0,0.0,0.0,NaN
1928-01-03 00:00:00-05:00,17.760000,17.760000,17.760000,17.760000,0,0.0,0.0,NaN
1928-01-04 00:00:00-05:00,17.719999,17.719999,17.719999,17.719999,0,0.0,0.0,NaN
1928-01-05 00:00:00-05:00,17.549999,17.549999,17.549999,17.549999,0,0.0,0.0,NaN
1928-01-06 00:00:00-05:00,17.660000,17.660000,17.660000,17.660000,0,0.0,0.0,NaN
1928-01-09 00:00:00-05:00,17.500000,17.500000,17.500000,17.500000,0,0.0,0.0,NaN
1928-01-10 00:00:00-05:00,17.370001,17.370001,17.370001,17.370001,0,0.0,0.0,NaN
1928-01-11 00:00:00-05:00,17.350000,17.350000,17.350000,17.350000,0,0.0,0.0,NaN
1928-01-12 00:00:00-05:00,17.469999,17.469999,17.469999,17.469999,0,0.0,0.0,NaN
1928-01-13 00:00:00-05:00,17.580000,17.580000,17.580000,17.580000,0,0.0,0.0,NaN
1928-01-16 00:00:00-05:00,17.290001,17.290001,17.290001,17.290001,0,0.0,0.0,NaN
1928-01-17 00:00:00-05:00,17.299999,17.299999,17.299999,17.299999,0,0.0,0.0,NaN
1928-01-18 00:00:00-05:00,17.260000,17.260000,17.260000,17.260000,0,0.0,0.0,NaN
1928-01-19 00:00:00-05:00,17.379999,17.379999,17.379999,17.379999,0,0.0,0.0,NaN

In [76]:
data.dropna(axis = 0, how = "any", inplace=True)
data.isna().sum()

Open            0
High            0
Low             0
Close           0
Volume          0
Dividends       0
Stock Splits    0
RSI             0
dtype: int64

# Buy/Sell points

In [89]:
def signals(x):
    if x>=70:
        return 1
    elif x<=30:
        return -1
    else:
        return 0

In [90]:
total_signals = [0]*len(data)

data["backtest"] = data["RSI"].apply(signals)

In [91]:
data["backtest"].value_counts()

backtest
 0    20838
 1     2556
-1      894
Name: count, dtype: int64

In [92]:

data_grouped = data.groupby(data.index.map(lambda x: x.year))
data_grouped["backtest"].value_counts().tail(20)

Date  backtest
2017   1           50
2018   0          219
       1           19
      -1           13
2019   0          222
       1           28
      -1            2
2020   0          227
       1           20
      -1            6
2021   0          238
       1           14
2022   0          239
      -1            9
       1            3
2023   0          218
       1           30
      -1            2
2024   0          158
       1           29
Name: count, dtype: int64

# Backtest