# Install important dependencies

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib as mtl
import math
import yfinance as yf



import pandas_ta as pa

# Data

Download weekly data for S&P500 from the beginning to september 30th 2024  as *pd.DataFrame* from yahoo finance using yfinance API.

In [11]:
# Download historical data for Apple (AAPL) over the last 5 years
from datetime import datetime

sp500 = yf.Ticker("^SPX") # create a ticker symbol
date_format = '%Y-%m-%d'
end_date =  datetime.strptime("2024-09-30", date_format)
data = sp500.history(start ="1900-01-01" , end = end_date, interval = "1d")

In [7]:
data

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1927-12-26 00:00:00-05:00,17.660000,17.660000,17.660000,17.660000,0,0.0,0.0
1928-01-02 00:00:00-05:00,17.760000,17.760000,17.549999,17.660000,0,0.0,0.0
1928-01-09 00:00:00-05:00,17.500000,17.580000,17.350000,17.580000,0,0.0,0.0
1928-01-16 00:00:00-05:00,17.290001,17.480000,17.260000,17.480000,0,0.0,0.0
1928-01-23 00:00:00-05:00,17.639999,17.709999,17.520000,17.690001,0,0.0,0.0
...,...,...,...,...,...,...,...
2024-08-26 00:00:00-04:00,5639.660156,5651.620117,5560.950195,5648.399902,16042500000,0.0,0.0
2024-09-02 00:00:00-04:00,5623.890137,5623.890137,5402.620117,5408.419922,14688940000,0.0,0.0
2024-09-09 00:00:00-04:00,5442.069824,5636.270020,5406.959961,5626.020020,18669430000,0.0,0.0
2024-09-16 00:00:00-04:00,5615.209961,5733.569824,5604.529785,5702.549805,22463850000,0.0,0.0
2024-09-23 00:00:00-04:00,5711.899902,5767.370117,5698.990234,5738.169922,19316880000,0.0,0.0

In [4]:
data.isna().sum()

Open            0
High            0
Low             0
Close           0
Volume          0
Dividends       0
Stock Splits    0
dtype: int64

# Technical indicators

drop every row where volume is 0

In [74]:
RSI = pa.rsi(data["Close"], length=14)
data["RSI"]=RSI
data["RSI"].isna().sum()

14

In [75]:
mask = data["RSI"].isna()
data.loc[mask]

,Open,High,Low,Close,Volume,Dividends,Stock Splits,RSI
Date,,,,,,,,
1927-12-30 00:00:00-05:00,17.660000,17.660000,17.660000,17.660000,0,0.0,0.0,NaN
1928-01-03 00:00:00-05:00,17.760000,17.760000,17.760000,17.760000,0,0.0,0.0,NaN
1928-01-04 00:00:00-05:00,17.719999,17.719999,17.719999,17.719999,0,0.0,0.0,NaN
1928-01-05 00:00:00-05:00,17.549999,17.549999,17.549999,17.549999,0,0.0,0.0,NaN
1928-01-06 00:00:00-05:00,17.660000,17.660000,17.660000,17.660000,0,0.0,0.0,NaN
1928-01-09 00:00:00-05:00,17.500000,17.500000,17.500000,17.500000,0,0.0,0.0,NaN
1928-01-10 00:00:00-05:00,17.370001,17.370001,17.370001,17.370001,0,0.0,0.0,NaN
1928-01-11 00:00:00-05:00,17.350000,17.350000,17.350000,17.350000,0,0.0,0.0,NaN
1928-01-12 00:00:00-05:00,17.469999,17.469999,17.469999,17.469999,0,0.0,0.0,NaN
1928-01-13 00:00:00-05:00,17.580000,17.580000,17.580000,17.580000,0,0.0,0.0,NaN
1928-01-16 00:00:00-05:00,17.290001,17.290001,17.290001,17.290001,0,0.0,0.0,NaN
1928-01-17 00:00:00-05:00,17.299999,17.299999,17.299999,17.299999,0,0.0,0.0,NaN
1928-01-18 00:00:00-05:00,17.260000,17.260000,17.260000,17.260000,0,0.0,0.0,NaN
1928-01-19 00:00:00-05:00,17.379999,17.379999,17.379999,17.379999,0,0.0,0.0,NaN

In [76]:
data.dropna(axis = 0, how = "any", inplace=True)
data.isna().sum()

Open            0
High            0
Low             0
Close           0
Volume          0
Dividends       0
Stock Splits    0
RSI             0
dtype: int64

# Buy/Sell points

In [89]:
def signals(x):
    if x>=70:
        return 1
    elif x<=30:
        return -1
    else:
        return 0

In [90]:
total_signals = [0]*len(data)

data["backtest"] = data["RSI"].apply(signals)

In [91]:
data["backtest"].value_counts()

backtest
 0    20838
 1     2556
-1      894
Name: count, dtype: int64

In [92]:

data_grouped = data.groupby(data.index.map(lambda x: x.year))
data_grouped["backtest"].value_counts().tail(20)

Date  backtest
2017   1           50
2018   0          219
       1           19
      -1           13
2019   0          222
       1           28
      -1            2
2020   0          227
       1           20
      -1            6
2021   0          238
       1           14
2022   0          239
      -1            9
       1            3
2023   0          218
       1           30
      -1            2
2024   0          158
       1           29
Name: count, dtype: int64

# Backtest

In [12]:
from backtesting import Backtest
from myBacktest import FirstStrategy

In [13]:

ts = Backtest(data, FirstStrategy, cash = 1000, commission=.002,  )
# trade_on_close = True and look bias

stats = ts.run()

print(stats)

/tmp/ipykernel_120396/2275551695.py:1: UserWarning: Some prices are larger than initial cash value. Note that fractional trading is not supported. If you want to trade Bitcoin, increase initial cash, or trade Î¼BTC or satoshis instead (GH-134).
  ts = Backtest(data, FirstStrategy, cash = 1000, commission=.002,  )

Start                     1927-12-30 00:00...
End                       2024-09-27 00:00...
Duration                  35335 days 23:00:00
Exposure Time [%]                   34.026006
Equity Final [$]                  3606.735333
Equity Peak [$]                     4620.3575
Return [%]                         260.673533
Buy & Hold Return [%]            32392.468695
Return (Ann.) [%]                    1.339091
Volatility (Ann.) [%]                9.961976
Sharpe Ratio                          0.13442
Sortino Ratio                         0.19231
Calmar Ratio                         0.025395
Max. Drawdown [%]                  -52.730116
Avg. Drawdown [%]                   -3.439378
Max. Drawdown Duration     8778 days 00:00:00
Avg. Drawdown Duration      279 days 00:00:00
# Trades                                  357
Win Rate [%]                        78.711485
Best Trade [%]                   10012.513475
Worst Trade [%]                    -16.971385
Avg. Trade [%]                     115.569594
Max. Trade Duration         139 days 00:00:00
Avg. Trade Duration          33 days 00:00:00
Profit Factor                      721.782213
Expectancy [%]                    1138.438333
SQN                                  8.812142
Kelly Criterion                      0.785935
_strategy                       FirstStrategy
_equity_curve                             ...
_trades                        Size  Entry...
dtype: object

In [14]:
ts.plot()

/home/jacopomanenti/.local/lib/python3.10/site-packages/backtesting/_plotting.py:122: UserWarning: Data contains too many candlesticks to plot; downsampling to '1W'. See `Backtest.plot(resample=...)`
  warnings.warn(f"Data contains too many candlesticks to plot; downsampling to {freq!r}. "
/home/jacopomanenti/.local/lib/python3.10/site-packages/backtesting/_plotting.py:147: FutureWarning: Series.view is deprecated and will be removed in a future version. Use ``astype`` as an alternative to change the dtype.
  mean_time = int(bars.loc[s.index].view(int).mean())
/home/jacopomanenti/.local/lib/python3.10/site-packages/backtesting/_plotting.py:455: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  df2 = (df.assign(_width=1).set_index('datetime')

GridPlot(id='p2157', ...)

WARNING: You don't seem to have any mimeinfo.cache files.
Try running the update-desktop-database command. If you
don't have this command you should install the
desktop-file-utils package. This package is available from
http://freedesktop.org/wiki/Software/desktop-file-utils/
No applications found for mimetype: text/html
./bin/xdg-open: 882: x-www-browser: not found
/bin/xdg-open: 882: firefox: not found
/bin/xdg-open: 882: iceweasel: not found
/bin/xdg-open: 882: seamonkey: not found
/bin/xdg-open: 882: mozilla: not found
/bin/xdg-open: 882: epiphany: not found
/bin/xdg-open: 882: konqueror: not found
/bin/xdg-open: 882: chromium: not found
/bin/xdg-open: 882: chromium-browser: not found
/bin/xdg-open: 882: google-chrome: not found
/bin/xdg-open: 882: www-browser: not found
/bin/xdg-open: 882: links2: not found
/bin/xdg-open: 882: elinks: not found
/bin/xdg-open: 882: links: not found
/bin/xdg-open: 882: lynx: not found
/bin/xdg-open: 882: w3m: not found
xdg-open: no method available for opening 'file:///home/jacopomanenti/algo/Privacy-Preserving-Algorithmic-Trading-with-Zero-Knowledge-Proofs/FirstStrategy.html'